%h2 Burst Balloons
%hr.star-primary
= image_tag "#{image_name}.png", class: "img-responsive img-centered"
%p 
  Burst Balloons is HTML5 Game.

  In this game, Player(Monkey) shoot arrow to burst balloons.

  Playing Instructions:

  Use Arrow keys to move Monkey.Use Space to shoot arrow.

  we have used http://craftyjs.com/ framework to make this Game.
%ul.list-inline.item-details
  %li 
    Date:
    %strong May 2014
  %li 
    %strong Opensource, Craftyjs, HTML5
  %li
    %strong=link_to 'Github','https://github.com/anilmaurya/burst-balloons'
= link_to '#', class: 'btn btn-default', data: {dismiss: 'modal'} do
  %i.fa.fa-times Close

