<!-- Portfolio Modals -->
- ['bidder', 'burst-balloon'].each_with_index do |image_name, index|
  .portfolio-modal.modal.fade{:id => "portfolioModal#{index}", :tabindex => "-1", :role => "dialog", :'aria-hidden' => "true"}
    .modal-content
      .close-modal{:'data-dismiss' => "modal"}
        .lr
          .rl
      .container
        .row
          .col-lg-8.col-lg-offset-2
            .modal-body
              = render "modal#{index}_body", image_name: image_name
